.App {
  text-align: center;
}

.App-header {
  font-family: monospace;
}

.App-badgeBar {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.App-badgeBar > * {
  margin-right: 1em;
}

.App-badgeBar > *:last-child {
  margin-right: 0;
}

.App > textarea {
  margin-top: 2em;
}

.App-controls {
  display: flex;
  justify-content: center;
}

.App-controls > * {
  margin-right: 1em;
}

.App-controls > *:last-child {
  margin-right: 0;
}
